
.profile-container{
    background-color: var(--white);
}

.profile-header{
    padding:1rem;
    color: var(--white);
    background-color: var(--lightblue);
    .user-avatar img{
        width:140px;
        height:140px;
    }
    .text-content{
        margin-left: 1rem;
    }
    h1{
        font-size: 3.5rem;
    }
}
.app-inner-sidebar.profile{
    flex-basis: 40%;
}